# Dependencies
node_modules/
**/node_modules/

# Local database files
*.db
*.db-journal
backend/prisma/dev.db

# Environment variables
.env
.env.*

# Build bundles
dist/
frontend/dist/

# System logs & files
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
